*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    line-height:1.6;
}

#showcase{
    background-image: url(/anise-aroma-art-bazaar-277253.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

#showcase h1{
    background-color: black;
    color: white;
    margin-top:0 ;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    font-size:50px;
    line-height:1;
}

#showcase p{
    background-color: black;
    color: white;
    margin-top:0 ;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    font-size:20px;
}

a{
    color:white;
}
a:hover, a:active, a:focus {
    color:black;
}